@model IEnumerable<Practica20250904.AppWebMVC.Models.Cliente>

@{
    ViewData["Title"] = "Buscar Clientes";
}

<h1>Buscar Clientes</h1>

<p>
    <a asp-action="Create" class=" btn btn-info"><i class="bi bi-plus-circle" title="Crear un nuevo registro"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Editar"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning" title="Detalle"><i class="bi bi-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark" title="Eliminar"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
